/* common styles */
:root {
  --primary-color: #e50914;
  font-size: 62.5%;
  outline: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #000;
  color: #999;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  margin: 0.8rem;
  color: #fff;
}

img {
  width: 100%;
}
/* end of common styles */

/* Showcase section */
.showcase {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url('../img/showcase_bg.jpg') no-repeat center center/cover;
}

.showcase-top {
  position: relative;
  height: 90px;
}

.netflix-logo {
  width: 135px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-sign-in {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
  display: inline-block;
  background-color: var(--primary-color);
  padding: 0.7rem 1.7rem;
  font-size: 1.6rem;
  text-align: center;
  border: none;
  margin-right: 0.8rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  border-radius: 0.2rem;
}

.showcase-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 22rem;
}

.showcase-content h1 {
  font-size: 4.6rem;
  margin-top: 20vh;
  margin-bottom: 2rem;
}

.showcase-content h2 {
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.showcase-content p {
  font-size: 1.6rem;
}

.btn-xl {
  font-size: 2.4rem;
  padding: 1.6rem 2.6rem;
  text-transform: uppercase;
  background-color: var(--primary-color);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  margin-bottom: 1.3rem;
  border-radius: 0.5rem;
}

.btn:hover {
  opacity: 0.9;
}

/* end of Showcase section */
